body {
  background-color: #262626;
}
.container {
  background-color: #565456;
  width: 700px;
  height: 450px;
  margin: 5% auto;
  text-align: center; 
background-color: #262626;
background-image: url("https://www.transparenttextures.com/patterns/solid.png");
   color: white;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}
.spacer {
 padding: 0.5px;
}

.box {
background-color: #262626;
background-image: url("https://www.transparenttextures.com/patterns/solid.png");
  margin: 15px;
  height: 25%; 
  box-shadow:  0 0 20px black;
  border-radius: 3px;
}

.wrapper {
  display: inline-block;
  height: 80%;
  padding: 5px 20px 0 0;
  vertical-align: top; 
  
}


.label {
  background-color: #5d0e0d; 
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  
}

.display {
  color: #fe6e19;
  background-color: #0a0a0a;
  font-size: 42px;
  width: 100%;
  margin-top: 0;
  border-left: 2px solid #575b57;
  border-bottom: 2px solid #646864;
  letter-spacing: 5px;
}

.large-label {
  margin-top: -7px;
  padding-top: 5px;
  background-color: #0a0a0a;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
}

.box2 .display {
  color: #4cd338;
}

.box3 .display {
  color: #f1ac17;
}

.box3 .large-label {
  width: 35%;
}

.wrapper4 p {
  display: inline-block;
  margin: 10px;
}



.lit {
  height: 10px;
  width: 10px;
  background-color: yellow;
  border-radius: 50%;
  margin-left: 30%;
  margin-top: -10%;
}

.unlit {
  height: 10px;
  width: 10px;
  background-color: #262626;
  border-radius: 50%;
  margin-left: 30%;
  margin-top: -10%;
}

.time {
  margin-top: 260%;
  margin-bottom: -200%;
}

.padding {
  padding-right: 0;
}
